
.footer {
  background-color: black;
  text-align: center;

  .connection {
    @include uppercase;
    font-size: 16px;
    line-height: 22px;
    padding-top: 66px;
    color: #FEFEFE;
  }

  .footer-text {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    padding-top: 22px;
  }

  .icons {
    padding-top: 49px;
  }

  .creation {
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    padding-top: 46px;
    padding-bottom: 70px;
  }

  .footer-textt {
    display: none;
  }
}
