@mixin greyColor {
  color: #4E4E4E;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin fonts {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  line-height: 22px;
}

body {
  @include greyColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

.mobile {
  display: none;
}

.img {
  display: flex;
  justify-content: center;

}

.menu2 {
  @include uppercase;
  @include fonts;
  display: flex;
  justify-content: space-evenly;
  padding: 45px 0 51px 0;

  .menu__home {
    color: #57A4A4;
  }

  .menu__style {
    cursor: pointer;
  }
}

.posts {
  padding-top: 66px;

  .title-of-post {
    @include uppercase;
    font-size: 16px;
    line-height: 22px;
  }

  flex-wrap: wrap;

  .all-posts {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    width: 555px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;

    .composition {
      padding-left: 21px;
    }

    .post__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      padding-bottom: 1px;
    }

    .post__subtitle {
      @include fonts;
      color: #7C7C7C;
      padding-bottom: 13px;
    }

    .post__text {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.shots {
  margin-top: 37px;

  .bg {
    z-index: -1;
    position: absolute;
  }

  .instagram {
    display: flex;
    justify-content: space-between;
    @include greyColor;
    @include uppercase;
    padding-top: 47px;
  }

  .shots-images {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
  }
}
