@media(max-width: 768px) {
  .container {
    width: 596px;
  }
  .image {
    width: 768px;
    height: 361px;
  }
  .posts {
    display: contents;

    .title-of-post {
      padding-top: 56px;
    }
  }
  .n {
    display: none;
  }

  .shots-img {
    width: 249px;
    height: 249px;
    padding-left: 5px;
  }
  .shots {
    display: inline-block;
  }
  .instagram {
    width: 768px;
  }
  .connection {
    padding-top: 57px;
  }
  .footer {
    .icons {
      padding-top: 37px;
    }

    .creation {
      padding-top: 34px;
      padding-bottom: 56px;
    }
  }

}

@media(max-width: 320px) {
  .mobile {
    display: block;

    .burger-menu {
      display: block;
      margin-top: 23px;
      margin-left: 279px;
      background-color: black;
      width: 41px;
      height: 37px;
      position: relative;

      .stick {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
        top: 13px;
        left: 13px;
      }

      .stick2 {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
        top: 13px;
        left: 13px;
        margin-top: 5px;
      }

      .stick3 {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
        top: 13px;
        left: 13px;
        margin-top: 10px;
      }
    }

    .burger-menu1 {
      display: none;
      margin-top: 23px;
      margin-left: 279px;
      background-color: black;
      width: 41px;
      height: 37px;
      position: relative;

      .stick1 {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
        top: 18px;
        left: 13px;
        transform: rotate(133deg);
      }

      .stick5 {
        position: absolute;
        width: 17px;
        height: 2px;
        background-color: #FFF;
        top: 18px;
        left: 13px;
        transform: rotate(45deg);
      }
    }

    .menu1 {
      display: none;
      padding-top: 6px;

      margin-left: 139px;

      width: 182px;


      @include uppercase;
      @include fonts;
      background-color: #F5F5F5;
      position: absolute;

      .menu__home {
        color: #57A4A4;

      }

      .menu__style2 {
        padding-left: 13px;
        padding-right: 27px;
        padding-top: 7px;
      }

      .menu__style2:hover {
        background-color: #E5E5E5;
      }
    }
  }
  .image {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    width: 320px;
    height: 150px;
  }
  .menu2 {
    display: none;
  }
  .title-of-post {
    margin-top: 38px;
  }
  .container {
    width: 320px;
  }
  .post__text {
    display: none;
  }
  .n {
    display: none;
  }
  .no {
    display: none;
  }
  .non {
    display: none;
  }
  .bg {
    display: none;
  }
  .footer {
    .footer-text {
      display: none;
    }

    .footer-textt {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 28px;
      color: #B9B9B9;
      padding-top: 22px;
    }
  }
  .instagram {
    .shots-text {
      display: none;
    }
  }
  .posts {
    display: contents;

    .title-of-post {
      padding-top: 1px;
    }
  }
  .posts {

    .post {
      padding-bottom: 32px;
      align-items: center;
      padding-top: 1px;
      display: contents;

      .composition {
        padding-left: 1px;
      }
    }
  }
}
